@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:focus {
  outline: none;
}

html {
  overflow-y: overlay;
}

::-webkit-scrollbar {
  position: absolute;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
